:root {
  --font-mono: 'Roboto Mono', monospace;
  --gradient-rainbow: linear-gradient(to right, #22d3eeB3, #4ade80B3, #faB315B3, #fb923B3C, #ef4444B3);
  --gradient-gray: linear-gradient(to right, #2a2a2a, #3a3a3a, #4a4a4a, #5a5a5a, #6a6a6a);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 32px;

  background: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

html,
body,

body {
  font-family: system-ui;
  font-size: 18px;
  line-height: 32px;

  margin: 0;
  color: rgb(1000, 1000, 1000);

  @media (max-width: 1024px) {
    font-size: 15px;
    line-height: 24px;
  }
}

/* Flip Card Styles */
.flip-card::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 0.4vh;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.9) 100%);
  transform: translateY(-50%);
  z-index: 10;
}

.flip-card.flipping .flip-card__back {
  animation: flipTop 0.3s ease-in forwards;
  z-index: 6;
}

.flip-card.flipping .flip-card__back-bottom {
  animation: flipBottom 0.3s ease-out forwards;
  animation-delay: 0.3s;
  z-index: 6;
}

@keyframes flipTop {
  0% {
    transform: rotateX(0deg);
    z-index: 2;
  }
  0%, 99% {
    opacity: 1;
  }
  100% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}

@keyframes flipBottom {
  0%, 50% {
    z-index: -1;
    transform: rotateX(90deg);
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
    z-index: 5;
  }
}
