@import 'tailwindcss';
@import 'uniwind';

@theme {
  --color-background: #0e150e;
  --color-on-background: #dce5d9;
  --color-surface: #0e150e;
  --color-surface-container-lowest: #091009;
  --color-surface-container-low: #161d16;
  --color-surface-container-high: #242c24;
  --color-surface-container-highest: #2f372e;
  --color-on-surface: #dce5d9;
  --color-on-surface-variant: #bccbb9;
  --color-primary: #4be277;
  --color-primary-fixed-dim: #4ae176;
  --color-on-primary: #003915;
  --color-tertiary: #ffb0ce;
  --color-on-tertiary-container: #80004b;
  --color-outline: #869585;
  --color-outline-variant: #3d4a3d;
}
